.member {
  display: flex;
  padding: 10px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 10px;
  gap: 10px;
  align-items: center;

  &:not(last-child) {
    margin-bottom: 10px;
  }

  &__avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #000;
  }
}
