h2 {
  font-weight: bold;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.wrapper {
  border: 1px solid #000;
  padding: 10px;
}

.App {
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-rows: 72px auto;
  grid-gap: 10px;
}

#PositionComponent {
  grid-column: 1;
  grid-row: 1/3;
}
